
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
    font-family: 'good_footregular';
    src: url('fonts/goodfoot-webfont.eot');
    src: url('fonts/goodfoot-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/goodfoot-webfont.woff') format('woff'),
         url('fonts/goodfoot-webfont.ttf') format('truetype'),
         url('fonts/goodfoot-webfont.svg#good_footregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {
  height: 100%;
}



h1 {
  font-family: good_footregular;
  font-size: 7em;
}

h2 {
  font-size: 4em;
  font-family: good_footregular;
}

.blurImg {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;

}
.blurImg > div {
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.blur {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

header {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0px 20px;
}
header > div {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 150px;
  height: 380px;
  text-align: center;
  color: White;
}

nav {
  width: 100%;
  z-index: 99;
  position: fixed;
  height: 100px;
  background: url('images/map.png');
  box-shadow: 1px 5px 3px rgba(0,0,0,.1);
}

nav img {
  height: 80px;
  margin-top: 12% !important;
  margin-left: 13% !important;
  width: 100%;
  float: left;
  padding: 1.3% 2% 1.5%;
  /*display: none;*/
}
.navbar-logo {
  float: left;
  width: 80px;
  /*border: 2px solid blue;*/
}


nav li {
list-style-type: none;
}

a:hover {
  text-decoration: none;
}


nav a {
  font-family: good_footregular;
  color: dimgray;
  float: right;
  font-size: 2.5em;
  list-style-type: none;
}

.navtxt {
  padding-right: 3%;
  padding-top: 2.5%;
  padding-bottom: 2%;
}

.container {
  width: 100%;
  background: url('images/map.png');
  padding-bottom: 3%;
}

.logohead {
  margin-top: 7%;
/*  border:2px solid #3D7A99;
*/}

.logohead h1 {
  font-size: 5em;
}

.logohead h2 {
  font-size: 3em;
  margin-top: -150px !important;
}

.products {
  float: left;
  width: 100%;
  height: 50em;
/*  border: 1px solid gray;
*/  padding-bottom: 3%;
}

.prod {
  width:28%;
  height: 45%;
  float: left;
  border: 1px solid gray;
  margin: 2.4%;
  overflow: hidden;
}

.prod img {
  height: 90%;
  width: 100%;
}

.testimonial {
  width: 100%;
  height: 340px;
  background: url('images/blue.png');
/*  background-repeat: no-repeat;
*/background-attachment: fixed;
 -webkit-background-size: 100% !important;
       -moz-background-size: 100% !important;
            background-size: 100%;
}

.testimonial p {
  width: 65%;
  color: white;
  font-size: 2.2em;
  font-family: good_footregular;
  padding-top: 5%;
  padding-bottom: 1%;
  text-align: center;
  margin: 0 auto;
}

.testimonial h3 {
  color: white;
  font-family: good_footregular;
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
  padding-bottom: 10% !important;
}

.about {
  width: 100%;
  background: url('images/map.png');
}

.about p {
  width:60%;
  font-size: 1.8em;
  text-align: center;
  font-family: good_footregular;
  margin: 0 auto;
  padding: 2% 2% .5%;
  background: rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  border-radius: 15px;
}

.about img {
    height: 15%;
    padding-top: 3%;
    padding-bottom: 2%;
    width: 15%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
